<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>Video 1</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=A_qJZM7YUYQFuwb5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="col-sm-6">
      <p>Video 2</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=A_qJZM7YUYQFuwb5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
   <div class="row">
    <div class="col-sm-6">
      <p>Video 3</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=A_qJZM7YUYQFuwb5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="col-sm-6">
      <p>Video 4</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DCFvNFafeVA?si=A_qJZM7YUYQFuwb5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
  </div>
</section>
